@import "tailwindcss";

:root {
  --color-bg-gradient: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  --color-black-light: #00000072;
  --color-black: #000000;
  --color-green: #0b6448;
  --color-blue: #0871a9;
  --color-red: #7c1111;
  --color-white: #ebebeb;
  --color-dark-white: #cecece;
  --color-dark-grey: #1d1d1d;
  --color-light-grey: #aaaaaa;
  --color-light-green: #0b790b;
  --color-gold: #bf9e30;
}

* {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@theme inline {
  --color-bg-gradient: var(--color-bg-gradient);
  --color-black-light: var(--color-black-light);
  --color-black: var(--color-black);
  --color-green: var(--color-green);
  --color-blue: var(--color-blue);
  --color-red: var(--color-red);
  --color-white: var(--color-white);
  --color-dark-white: var(--color-dark-white);
  --color-dark-grey: var(--color-dark-grey);
  --color-light-grey: var(--color-light-grey);
  --color-light-green: var(--color-light-green);
  --color-gold: var(--color-gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jbm: var(--font-jbm);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  /* Add options for color-schemes */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-bg-gradient);
}
